@charset "UTF-8";

html {
  font-size: 2vw;
}

body{
  font-family: "Yu Gothic Medium","遊ゴシック Medium","YuGothic","遊ゴシック体","ヒラギノ角ゴ pro W3",sans-serif;
  line-height: 1.7;
  background-image: url(home_image/);
}
/*---ヘッダー---*/
.header {
  font-size: 100%;
  justify-content: flex-start;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: navy;
}
.search {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  height: 18%;
  width: 0 auto;
}
.search_image_div {
  height: 18%;
}
.search_image {
  text-align: center;

}
.mane {
  background-color: navy;
}
/*---言語変換---*/
.Language_setting {
  /*==一応のDIV==*/
}
.Language_conversion {
  position: absolute; top:0px; right:0%;
}
.language {
  padding: 0px 15px;
  display: block;
  font-size: 100%;
  background-color: blue;
  color: white;
  justify-content: center;
  display: flex;
}
.language:hover {
  color: #87CEFA;
}
.National_language {
  color: #AFEEEE;
}
.Language_switching {
  display: block;
  cursor:pointer;
}
.By_language {
  font-size: 80%;
  width: 100%;
  display: none;
  text-align: center;
  border-left: 1px dotted #6495ED;
  border-right: 1px dotted #6495ED;
}
.By_language:hover {
  background-color: #faa61a;
  font-size: 85%;
}
.Language_switching:hover .By_language {
  display: block;
}

/*---タイトル---*/
.title_Part {
  text-align: center;
}
.title {
  text-align: center;
  font-size: 250%;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
}
.Site_description {
  text-align: center;
  text-decoration: underline;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.Mood {
  text-align: center;
  color: lightblue;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
}

/*---ゲーム---*/
.Games {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  height: auto;
  border-color: red;
  border-style: dotted;
  border-width: 1px;
}
.wows {
  text-align: center;
}
.wows_image {
  width: 65%;
  height: 100%;
}
.wowstext {
  color: blue;
}
.wowsl {
  display: flex;
  background-color: rgba(73,221,255,0.3);
  text-align: left;
  padding: 1px;
  position: relative;
}
.wowsl_image {
  width: 65%;
  height: 100%;
}
.wowsltext {
  color: lightblue;
  background-color: green;
  position: absolute; top:48%;
  margin-left: 1%;
}

/*.言語変換 {
  width: 10%;
  text-align: center;
  background: navy;
  color: white;
  padding: 0%;
}
.言語設定 {
  justify-content: flex-end;
  width: 40%;
}
.言語一覧 {
  background: white;
  display: none;
}
.言語メニュー {
  width: 25%;
  list-style: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
}
.言語変換したサイトに移動 {
  text-decoration: none;
  color: navy;
}
.言語 {
  border: 1px solid navy;
  margin: 0%;
  padding: 0%;
}
.言語変換:hover .言語一覧 {
  display: block;
}*/

/*#言語切り替え input[type="radio"]{
  display: none;
}
#言語切り替え label{
  display    : inline-block;
  border     : 1px solid #ccc;
  box-shadow : 2px 2px #999;
  padding    : 2px 6px;
}
/*#言語切り替え  input[type="radio"]:checked + label {
  background : #ffa64d;
}
#JA:not(:checked) ~ * *:lang(ja) {
  display    : none;
}
#EN:not(:checked) ~ * *:lang(en) {
  display    : none;
}
#ZH:not(:checked) ~ * *:lang(zh) {
  display    : none;
}

#JA:checked ~ label[for="langJa"] {
  background : #ffa64d;
}
#EN:checked ~ label[for="langEn"] {
  background : #ffa64d;
}
#ZH:checked ~ label[for="langZh"] {
  background : #ffa64d;
}*/
